body {
  margin: 0;
  padding: 0;
}

.calculator {
  margin: 0 auto;
  padding: 20px;
  width: 300px;

  background-color: #B8E6F0;
}

.screen {
  padding: 10px;
  border: 2px;
  border-color: #555555;
  background-color: #fff;
}

input {
  width: 100%;
  /* border: none; */
}

.current-operand {
  min-height: 3rem;
  font-size: 2rem;
  
}

.previous-operand {
  min-height: 2rem;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.container button {
  display: block;
  height: 40px;
}

.button--large {
  grid-column: span 2;
}

.button--clear {
  background-color: #F43030;
}



